/* ------------------- General ------------------- */
@font-face {
  font-family: 'helsinkiregular';
  src: url("fonts/helsinki-webfont.woff2") format("woff2"), url("fonts/helsinki-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.row {
  display: flex;
  flex-flow: row wrap; }

.col {
  flex-grow: 1;
  flex-basis: 100%;
  max-width: 100%; }

/* ------------------- Body ------------------- */
body {
  font-family: 'helsinkiregular', 'sans-serif';
  background-image: url(images/bg.jpg);
  background-attachment: scroll; }

/* ------------------- Header ------------------- */
header {
  background-color: #000; }

/* ------------------- Navigation ------------------- */
/* ------------------- Main ------------------- */
.wrap {
  margin: 0 auto;
  max-width: 50em;
  background-image: url(images/bg1.jpg); }

main {
  padding: 2em; }

/* ------------------- Ship ------------------- */
#ship td,
#ship th {
  border: 0;
  padding: 0.5em; }

.ship-wrapper {
  align-items: center; }

@media (min-width: 760px) {
  .ship-wrapper .col {
    flex-basis: 50%;
    max-width: 50%; }
  #ship-img {
    transform: rotate(-20deg); } }

/* ------------------- Footer ------------------- */
footer {
  background-color: #000; }

/* ------------------- C&P Media Queries ------------------- */
/* Adjust breakpoints to the layout and not to specific devices! */
